:root {
  --prim_background: linear-gradient(60deg, darkcyan, black);
  --sec_background: white;

  --color_prim: whitesmoke;
  --color_sec: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 95%;
  /* max-width: 1100px; */
  margin: auto;
}

.showcase {
  width: 100%;
  height: 400px;
  background: url("../img/rock-5266516_1920.jpg");
  padding: 10px 0px;
  margin: 25px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  color: whitesmoke;
  padding-bottom: 50px;
  margin-bottom: 20px;
}

.showcase h2,
.showcase p {
  margin-bottom: 10px;
}

body {
  background: var(--prim_background);
}

hr {
  color: tomato;
}
.textimg {
  margin: 10px;
  width: 65%;
  height: 400px;
  background: url("../img/me_front.jpg") no-repeat center center/cover;

  /* Add the blur effect */
  /* filter: blur(1px); */
  /* filter: saturate(220%) contrast(200%); */

  /* -webkit-filter: blur(2px); */
  padding: 10px 0px;
  margin: 25px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  border-bottom-right-radius: 300px;
  border-top-right-radius: 300px;
  border-top-left-radius: 200px;

  /* Full height */
  /* height: 100%; */
  /* position: absolute; */

  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
.title {
  color: var(--color_prim);
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: bolder;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 35%;
  left: 65%;
  overflow-wrap: normal;
  transform: translate(-50%, -50%);

  width: 55%;
  /* padding: 20px; */
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  z-index: 20;
  margin-bottom: 20px;
  -webkit-box-shadow: 45px 35px 27px -21px rgba(210, 195, 217, 0.89);
  -moz-box-shadow: 45px 35px 27px -21px rgba(210, 195, 217, 0.89);
  box-shadow: 45px 35px 27px -21px rgba(210, 195, 217, 0.89);
}

.title h1 {
  font-size: 50px;
}

.title h3 {
  font-size: 50px;
}

.myname {
  color: rgb(245, 19, 245);
}
.title p u {
  font-size: large;

  padding: 10px;
  margin: 10px;
  color: turquoise;
  overflow-wrap: break-word;
  font-family: "Poppins", sans-serif;
}

.container2 {
  /* position: absolute; */
  display: grid;
  /* width: 90%; */
  /* transform: translate(5%); */
  justify-content: flex-start;
  align-items: stretch;

  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-areas:
    "radio card1 card2 card3"
    "radio card4 card5 card6"
    "radio card7 card8 card9";
  border: 5px solid pink;
  /* grid-gap: 5px; */
  /* grid-template-rows: 2fr; */
  /* margin-left: 10px; */
  /* margin-top: 32em; */
}

.radio {
  color: whitesmoke;
  grid-area: radio;
  /* justify-content: space-between; */
  width: 100%;
  display: grid;
  align-items: stretch;
  text-decoration: none;
  border: 3px solid pink;
}

.radio_input {
  visibility: hidden;
}

.radio_input:checked + .label1 {
  background-color: salmon;
}

.radio label {
  display: block;
  /* border: 1px solid white; */
  padding: 5px 5px;
  margin: 10px;
  align-self: center;
  text-align: center;
  cursor: pointer;
  font-size: large;

  transform: translate(0, -50%);

  background-color: dodgerblue;
}

.card1 {
  grid-area: card1;
}
.card3 {
  grid-area: card3;
}

.card4 {
  grid-area: card4;
}

.hides {
  display: none;
}

.cards {
  background-color: transparent;
  width: 100%;
  height: 350px;

  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.circle {
  /* background: darkgoldenrod;
  clip-path: circle(180px at center 0); */
}
.employer .flip-card-front {
  /* background-color: rebeccapurple; */

  background: url(../img/network-4851119_1920.jpg);
  /* background: rgb(34, 193, 195);
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 73, 45, 1) 100%
  ); */
}

.role .flip-card-front {
  /* background-color: rgb(18, 202, 156); */
  background: url(../img/network-4851119_1920.jpg);
  filter: sepia();
}

.skill .flip-card-front {
  /* background-color: lightcoral; */
  /* background: rgb(34, 193, 195);
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  ); */
  background: url(../img/network-4851119_1920.jpg);
  /* filter: grayscale(70%); */
  filter: sepia(70%);
  /* color: whitesmoke; */
}

.skill p,
.role p,
.employer p {
  padding-top: 15px;
}
/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.cards:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  text-align: center;
  /* border-radius: 20px; */
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: rgb(10, 188, 194);

  color: whitesmoke;
  padding-top: 25px;

  cursor: pointer;
}

.flip-card-front h1,
h2 {
  text-align: center;
  font-family: "Bitter", serif;
}

.flip-card-front p {
  font-family: "Poppins", sans-serif;
}

/* Style the back side */
.flip-card-back {
  background-color: #457b9d;
  color: white;
  transform: rotateY(180deg);
  overflow: hidden;
}

.medium p {
  font-size: large;
  text-align: left;
}

/* card2  */

/* This container is needed to position the front and back side */

.follow {
  /* position: absolute; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: flex-start;
  margin: 30px 0px 30px;
}

.follow {
  background: #f2f2f2;
  font-size: 32px;
  padding: 20px 0px;
}

.follow span {
  padding: 0px 15px;
}

.follow span {
  padding: 0px 15px;
}

.follow h3 {
  padding: 15px;
}

/* links */

.links {
  background: lightsteelblue;
  /* display: flex; */
}

.links-inner {
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
}

.links-inner ul {
  text-transform: uppercase;
  font-size: medium;
  text-align: center;
}

.links-inner li {
  text-transform: uppercase;
  font-size: small;
  padding-left: 10px;
  text-align: left;
  /* list-style: circle; */
}

.links-inner h3 {
  list-style: none;
  text-align: left;
}

.main-footer {
  background: #f2f2f2;
  font-size: 12px;
  padding: 20px 0px;
}

.inner-footer {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.long {
  font-weight: bolder;
  font-size: x-large;
}

@media screen and (max-width: 850px) {
  .textimg {
    /* filter: blur(1px); */
    /* -webkit-filter: blur(1px); */
  }

  .title {
    width: 60%;
    top: 45%;
    position: absolute;
    font-weight: bolder;
  }

  .container2 {
    grid-template-columns: 2fr 2fr;
    grid-template-areas:
      "radio radio"
      "card1 card2"
      "card3 card4"
      "card5 card6";
  }

  .card3 {
    grid-area: card3;
  }
  .hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .radio label {
    width: 80%;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 15px;
    overflow-wrap: anywhere;
    font-size: large;
  }

  .cards {
    height: 350px;
  }

  .long {
    font-weight: bolder;
    font-size: small;
  }

  .follow {
    flex-direction: column;
    align-content: space-between;
  }
  .links-inner {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .textimg {
    /* filter: blur(1px); */
    /* -webkit-filter: blur(1px); */
    width: 100%;
  }

  .title {
    width: 60%;
    position: absolute;
    font-weight: bolder;
    top: 45%;
  }

  .container2 {
    grid-template-columns: 2fr;
    grid-template-areas:
      "radio"
      "card1"
      "card2"
      "card3"
      "card4";
  }

  .hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .radio label {
    width: 80%;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 15px;
    overflow-wrap: anywhere;
    font-size: large;
  }

  .cards {
    height: 200px;
  }

  .long {
    font-weight: bolder;
    font-size: small;
  }

  .follow {
    flex-direction: column;
    align-content: space-between;
  }
  .links-inner {
    flex-direction: column;
  }
}
